.navbar-brand .navbar-item b {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(55%, rgba(255,255,255,1)), color-stop(55%, rgba(255,0,0,1)), color-stop(100%, rgba(255,21,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff1500', GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sspl .player-name {font-size: 1.1rem; font-weight: 700;}
.sspl .diff.inc {color: #42B129 !important;}
.sspl .diff.dec {color: #F94022 !important;}
#new-rankeds {margin-bottom: 2rem;}
#new-rankeds th, #new-rankeds td {text-align: center;}
#new-rankeds tbody tr td:nth-child(1) {text-align: left;}
.what-if {position: absolute; top: 1em; right: 0em; font-weight: 700; padding:0;}
table.ranking.songs th.score, table.ranking td.pp {position: relative;}
table.ranking tbody tr.hidden {opacity: 0.05;}
.content table.ranking.global.sspl .pp, .content table.ranking.global.sspl .diff {text-align: center;}
.box .tabs a {border-bottom: none;}
.box .tabs li:hover {border-bottom: 1px solid black; margin-bottom: -1px;}
.tabs li.is-active {border-bottom: 1px solid #3273dc; margin-bottom: -1px;}
img.bloodtrail {height:24px;}
.sspl .rank small {font-size: .75rem; margin-left: .5rem; color: lightgray;}
.sspl .rank span {display: inline-block; width: 1.5rem; text-align: right;}
.text-center {text-align: center;}
#sspl progress {width: 20rem; max-width: 90%;}
#ssplrefresh {text-align: right; margin-bottom: 1rem;}
#ssplrefresh button {margin-right: .5rem;}
#ssplrefresh strong {margin-right: .5rem;}
.offset_tab {margin-left: auto;}