.sspl .player-name {font-size: 1.1em; font-weight: 700;}
.sspl .inc, .sspl .diff.inc, .card-view .inc {color: var(--increase) !important;}
.sspl .dec, .sspl .diff.dec, .card-view .dec {color: var(--decrease) !important;}
.what-if {position: absolute; top: 1em; right: 0em; font-weight: 700; padding:0;}
table.ranking.songs th.score, table.ranking td.pp {position: relative;}
table.ranking tbody tr.hidden {opacity: 0.05;}
.content table.ranking.global.sspl .pp, .content table.ranking.global.sspl .diff {text-align: center;}
.box .tabs a {border-bottom: none;}
.box .tabs li:hover {border-bottom: 1px solid black; margin-bottom: -1px;}
.tabs li.is-active {border-bottom: 1px solid #3273dc; margin-bottom: -1px;}
img.bloodtrail {height:24px;}
.sspl .rank small {font-size: .75rem; margin-left: .5rem; color: lightgray;}
.text-center {text-align: center;}
.offset_tab {margin-left: auto;}
table.ranking.songs.sspl th.score {min-width: 11rem;}
.content .box > .refresh {position: absolute;top: .5rem;right: .5rem;font-size: 1rem;}

.sspl thead .diff select, .pagination select.type, .sspl select {font-size: 1rem; font-weight: 700; border: none; color: var(--textColor, black); background-color: var(--background, white); outline: none;}
.pp-boundary {color: var(--textColor, black);}
.sspl tbody tr.main {background-color: var(--highlight);}
table.ranking tbody tr:hover {background-color: var(--hover) !important;}

table.ranking.songs {max-width: none!important;}

.flex-start {
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
}
.flex-center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}

.el-group button {
  margin-bottom: .5em;
}
.el-group button:not(:last-child) {
  margin-right: .5em;
}

.column.avatar.enlarge {
  margin-right: 2rem;
}
.column.avatar.enlarge img.is-96x96 {
  width: 150px;
  height: 150px;
}
.column.avatar.main img.is-96x96 {
  border: 2px solid var(--increase, '#42b129');
}
body .navbar, body .navbar.has-shadow {
  background-color: var(--navBg, var(--foreground, '#252525'))!important;
}
body .navbar .navbar-item {
  color: var(--navText, var(--textColor, '#eee'))!important;
}
body .navbar .navbar-item:hover, body .navbar .navbar-item.is-active, body .navbar .navbar-link:hover, body .navbar .navbar-link.is-active {
  background-color: var(--navHover, var(--hover, '#333'))!important;
}
body .navbar-item.sspl-avatar {
  padding: 6px .75rem;
}
body .navbar-item.sspl-avatar figure {
  width: 40px;
  height: 40px;
}
body .navbar-item.sspl-avatar img {
  max-height: none;
}
body .navbar-item.sspl-avatar figure.flag {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .navbar-item.sspl-avatar figure.flag img {
  width: auto;
  height: .875rem;
}

body .select select {
  background-color: var(--background) !important;
  color: var(--textColor) !important;
}

.sspl th {
  font-weight: 500;
}

/*SSE bug workaround*/
.beatsaver_bg {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' version='1.1'%3E%3Cg fill='none' stroke='%23000000' stroke-width='10'%3E %3Cpath d='M 100,7 189,47 100,87 12,47 Z' stroke-linejoin='round'/%3E %3Cpath d='M 189,47 189,155 100,196 12,155 12,47' stroke-linejoin='round'/%3E %3Cpath d='M 100,87 100,196' stroke-linejoin='round'/%3E %3Cpath d='M 26,77 85,106 53,130 Z' stroke-linejoin='round'/%3E %3C/g%3E %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1407px) {
  .container {
    max-width: none;
    width: auto;
  }
}