.navbar-brand .navbar-item b {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(55%, rgba(255,255,255,1)), color-stop(55%, rgba(255,0,0,1)), color-stop(100%, rgba(255,21,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 55%, rgba(255,21,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff1500', GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sspl .player-name {font-size: 1.1rem; font-weight: 700;}
.sspl .inc, .sspl .diff.inc {color: var(--increase) !important;}
.sspl .dec, .sspl .diff.dec {color: var(--decrease) !important;}
.what-if {position: absolute; top: 1em; right: 0em; font-weight: 700; padding:0;}
table.ranking.songs th.score, table.ranking td.pp {position: relative;}
table.ranking tbody tr.hidden {opacity: 0.05;}
.content table.ranking.global.sspl .pp, .content table.ranking.global.sspl .diff {text-align: center;}
.box .tabs a {border-bottom: none;}
.box .tabs li:hover {border-bottom: 1px solid black; margin-bottom: -1px;}
.tabs li.is-active {border-bottom: 1px solid #3273dc; margin-bottom: -1px;}
img.bloodtrail {height:24px;}
.sspl .rank small {font-size: .75rem; margin-left: .5rem; color: lightgray;}
.text-center {text-align: center;}
.offset_tab {margin-left: auto;}
table.ranking.songs.sspl th.score {min-width: 11rem;}
.content .box > .refresh {position: absolute;top: .5rem;right: .5rem;font-size: 1rem;}

.sspl thead .diff select, .pagination select.type, .sspl select {font-size: 1rem; font-weight: 700; border: none; color: var(--textColor, black); background-color: var(--background, white); outline: none;}
.pp-boundary {color: var(--textColor, black);}
.sspl tbody tr.main {background-color: var(--highlight);}
table.ranking tbody tr:hover {background-color: var(--hover) !important;}

table.ranking.songs {max-width: none!important;}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}

.el-group button {
  margin-bottom: .5em;
}
.el-group button:not(:last-child) {
  margin-right: .5em;
}

.column.avatar.enlarge {
  margin-right: 2rem;
}
.column.avatar.enlarge img.is-96x96 {
  width: 150px;
  height: 150px;
}
.column.avatar.main img.is-96x96 {
  border: 2px solid var(--increase, '#42b129');
}
.navbar, .navbar.has-shadow {
  background-color: var(--navBg, var(--foreground, '#252525'))!important;
}
.navbar .navbar-item {
  color: var(--navText, var(--textColor, '#eee'))!important;
}
.navbar .navbar-item:hover, .navbar .navbar-item.is-active, .navbar .navbar-link:hover, .navbar .navbar-link.is-active {
  background-color: var(--navHover, var(--hover, '#333'))!important;
  color: var(--foreground, '#252525')!important;
}
.navbar-item.sspl-avatar {
  padding: 6px .75rem;
}
.navbar-item.sspl-avatar figure {
  width: 40px;
  height: 40px;
}
.navbar-item.sspl-avatar img {
  max-height: none;
}